.category-btn{
  padding: 7px 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
  border: none;  
  color: white;
  background: transparent;
  align-items: center;
  display: flex;
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-btn.active {
  background: #272727;
}

.category-btn:hover {
  background-color: #3D3D3D;
  color: white !important;
}
  
.category-btn:hover span{
  color: white !important;
}