.search-bar-container {
    border-radius: 20px !important;
    border: 1px solid #e3e3e3;
    padding-left: 16px; 
    box-shadow: none;
    margin-right: 40px;
    display: flex;
    align-items: center; 
}

.search-bar {
    width: 500px;
    border: none;
    outline: none;
    padding: 10px;
}

.icon-button {
    padding: 10px;
}
